CSharpServer/.vs/
CSharpServer/CSharpServer/bin/
CSharpServer/CSharpServer/obj/
CSharpServer/UnitTest/bin/
CSharpServer/UnitTest/obj/
CSharpServer/CSharpClient/bin/
CSharpServer/CSharpClient/obj/
CSharpServer/CSharpServer.Networking/bin/
CSharpServer/CSharpServer.Networking/obj/
artifacts/
